#!/bin/sh
#
# FreeBSD start script for gps_time. Install in /etc/rc.d or
# /usr/local/etc/rc.d
#

# PROVIDE: gps_time
# REQUIRE: swap
# BEFORE: FILESYSTEMS
# KEYWORD: nojail

. /etc/rc.subr

name="gps_time"
desc="Set system clock based on GPS data"
rcvar="gps_time_enable"
command="/usr/local/sbin/gps_time"
start_cmd="gps_time_start"
stop_cmd=":"

gps_time_start()
{
	echo -n 'Setting time from GPS: '
	timeout 10 ${command} ${gps_time_flags}
}
